<section id="homepage">
  <mat-toolbar class="header">
    <div class="branding-title">
      <button
        mat-icon-button
        class="example-icon"
        aria-label="Example icon-button with menu icon"
        [routerLink]="''"
      >
        <mat-icon>home</mat-icon>
      </button>
      <span>My Notepad</span>
    </div>
    <div class="logout-action">
      <button
        mat-icon-button
        class="example-icon"
        [matMenuTriggerFor]="menu"
        aria-label="Example icon-button with a menu"
      >
        <mat-icon>logout</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item [routerLink]="''">
          <mat-icon>logout</mat-icon>
          <span>Logout</span>
        </button>
      </mat-menu>
    </div>
  </mat-toolbar>
  <div class="body-content-container">
    <!-- <h2>{{ quotes[0].name }} No Records Found🐼...</h2> -->
    <mat-card
      *ngFor="let quote of quotes"
      class="card-content-container"
      appearance="outlined"
    >
      <mat-card-header>
        <mat-card-title>{{ quote.name }}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>{{ quote.description }}</p>
      </mat-card-content>
      <mat-card-footer class="card-footer">
        <mat-chip-set [attr.aria-label]="quote.name + ' traits'">
          <mat-chip *ngFor="let trait of quote.traits">{{ trait }}</mat-chip>
        </mat-chip-set>
      </mat-card-footer>
    </mat-card>
  </div>
  <mat-toolbar class="footer">
    <div class="copyright">
      <span>Baljinder Singh. All rights reserved 2024.</span>
    </div>
    <div class="add-notepad">
      <button
        mat-icon-button
        class="example-icon"
        (click)="openDialog()"
        aria-label="Example icon-button with share icon"
      >
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </mat-toolbar>
</section>
